$blue: #184C9B;
$darkBlue: #0D1F2A;
$lightBlue: #A3AED0;
$lightBlue1: #7090B0;
$lightBlue2: #F4F7FE;
$lightBlue3: #8F9BBA;
$lightBlue4: #FDFEFF;
$lightGray: #f4f4f4;
$lightGray2: #E8E8E8;

$white: #fff;
$black: #000;
