@font-face {
  font-family: "DM Sans";
  src: url("../fonts/dm-sans/DMSans-Regular.eot");
  src: url("../fonts/dm-sans/DMSans-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/dm-sans/DMSans-Regular.woff2") format("woff2"),
  url("../fonts/dm-sans/DMSans-Regular.woff") format("woff"),
  url("../fonts/dm-sans/DMSans-Regular.ttf") format("truetype"),
  url("../fonts/dm-sans/DMSans-Regular.svg#Exo2-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/dm-sans/DMSans-Medium.eot");
  src: url("../fonts/dm-sans/DMSans-Medium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/dm-sans/DMSans-Medium.woff2") format("woff2"),
  url("../fonts/dm-sans/DMSans-Medium.woff") format("woff"),
  url("../fonts/dm-sans/DMSans-Medium.ttf") format("truetype"),
  url("../fonts/dm-sans/DMSans-Medium.svg#Exo2-Regular") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/dm-sans/DMSans-Bold.eot");
  src: url("../fonts/dm-sans/DMSans-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/dm-sans/DMSans-Bold.woff2") format("woff2"),
  url("../fonts/dm-sans/DMSans-Bold.woff") format("woff"),
  url("../fonts/dm-sans/DMSans-Bold.ttf") format("truetype"),
  url("../fonts/dm-sans/DMSans-Bold.svg#Exo2-Regular") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}